body {background-image: url(Fundo.jpeg); 
        width: 300px;
        height: 400px;
    background-size: contain;
        background-color: rgb(0,0,0,0.7); background-blend-mode: darken;}

        #title{font-family:'Times New Roman', Times, serif;     
            font-size: 50px; 
            text-align: center;
            color:yellow; 
            background-color: #1e00ffac; margin: 80px ;
            padding: 3px; font-weight:bolder;
            width:max-content; height:max-content;
            position:absolute;
            left: 50%; width: 50%;
            transform: translate(-50%, -50%);
}

    img{width: 200px;
        height: auto;
        position: fixed; 
        bottom: 0;
        left: 50%;
    
    }
        
#text{font-family:'Times New Roman', Times, serif;     
            font-size: 20px; 
            text-align:center;
            color:#f9f9f9; 
            background-color: #1e00ffac; margin: 210px;
            padding: 3px; font-weight:initial;
            width:max-content; height:max-content;
            position: absolute;
            left: 40%; 
            transform: translate(-50%, -50%);

}

#date{
    font-family:'Times New Roman', Times, serif;     
            font-size: 20px; 
            text-align:center;
            color:#f9f9f9; 
            background-color: #1e00ffac; margin: 290px ;
            padding: 3px; font-weight:initial;
            width:max-content; height:max-content;
            position: absolute;
            left: 20%; 
            transform: translate(-50%, -50%);

}
#icon{
            color:#f9f9f9; 
            margin: 17.2%;
            padding: 0px; 
            width:auto; height:max-content;
            position: bottom;
            left: 13%; width: auto;
            width: 35px;
            height: 39px;
            transform: translate(-50%, -50%);

}

}
